@font-face {
  font-family: "Arial Narrow";
  src: url("./assets/arialnarrow.ttf") format("truetype");
  font-weight: normal; /* or 400 */
  font-style: normal;
}

/* 2. Define the Bold variant */
@font-face {
  font-family: "Arial Narrow"; /* Must match the regular variant name exactly */
  src: url("./assets/arialnarrow_bold.ttf") format("truetype");
  font-weight: bold; /* or 700 */
  font-style: normal;
}

@font-face {
  font-family: "Prima";
  src: url("./assets/Prima-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  --pink: #f81974;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background: var(--pink);
  mix-blend-mode: darken;
  opacity: 0.5;
}

.main {
  width: 100%;
  height: 100vh;
  background: url(./assets/background-2.gif);
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
}

#logo {
  width: 100%;
  position: fixed;
  bottom: 20px;
  padding: 0 50px;
  max-width: 1400px;
  z-index: 10;
}

.banner {
  width: 100%;
  background: black;
  font-family: "Arial Narrow", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 14px;
  position: fixed;
  top: 0;
  height: 20px;
  overflow: hidden;
  z-index: 100;
  display: flex;
}

.running-line {
  flex-shrink: 0;
  animation: run 10s linear infinite;
}

@keyframes run {
  from {
    transform: translateX(0%);
  }
  /* Magic is here. This is the width of the elem with text after rendering the page */
  to {
    transform: translateX(-1133px);
  }
}

.star-button {
  width: 130px;
  height: 130px;
  background: url(./assets/star.png);
  background-size: cover;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Prima", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
  z-index: 10;
}

#watch-overlay {
  position: absolute;
  top: 15%;
  left: 8%;
  max-width: 300px;
  width: 25%;
  aspect-ratio: 718/ 546;
  background: url(./assets/watch.png);
  background-size: cover;
}

#watch {
  position: absolute;
  bottom: -50px;
  left: -60px;
  transform: rotate(-10deg);
}

#watch:hover {
  transform: rotate(-10deg) scale(1.05);
}

#shop {
  top: 12%;
  right: 10%;
  transform: rotate(-10deg);
  padding-top: 10px;
}

#shop:hover {
  transform: rotate(-10deg) scale(1.05);
}

#tour {
  top: 35%;
  right: 5%;
  transform: rotate(10deg);
  padding-top: 10px;
}

#tour:hover {
  transform: rotate(10deg) scale(1.05);
}

#sign-up {
  top: 55%;
  right: 5%;
  transform: rotate(-5deg);
  padding: 20px 40px 0;
}

#sign-up:hover {
  transform: rotate(-5deg) scale(1.05);
}

@media (max-width: 768px) {
  #watch-overlay {
    background: none;
    top: 8%;
    left: 20px;
  }

  #logo {
    padding: 0;
  }

  #watch {
    top: 0;
    left: 0;
  }

  #shop {
    top: 60%;
    left: 20px;
  }

  #tour {
    top: 15%;
    right: 20px;
  }

  #sign-up {
    top: 67%;
    right: 20px;
    transform: rotate(10deg);
  }

  #sign-up:hover {
    transform: rotate(10deg) scale(1.05);
  }
}
